@model Auction
@{
    ViewData["Title"] = "انشاء مزاد";
}

<h1>انشاء مزاد</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <partial name="_Form" model="Model" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
